.App{
   
    display: block;
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);

}
/* #######################nav-header#####################################" */
.App-header{
    display: block;
    
    margin-bottom: 2rem;
    
  
}
.header{
    
    position: relative;
    background-image: url("./1.jpg");
    margin-top: -1rem;
   
}
.header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
    height: 2.5rem;
    padding-left: 24rem;
    padding-right: 24rem;
    list-style: none;
}.header ul .list{
    align-items: center;
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 2rem;
}
.App-header nav{
    width: 100%;
    position:fixed;
    box-shadow:  6px 4px 12px 8px rgb(243, 235, 243);
    height: 3rem;
    display: flex;
    justify-content: space-between;
    color:rgb(110, 26, 54);
    padding: .8rem;
    margin-top: -1rem;
   

    
    
}
.website-container{
    justify-content: space-between;
    align-content: space-around;
}
.website-container{
    list-style: none;
    display: flex;
    

}
.website-container li:first-child{
    color: rgb(77, 13, 63);
    font-weight: bold;
}
.website-container li .list{
    text-decoration: none;
    padding: 0.8rem;
}
.website-infos{
    list-style: none;
    display: flex;
    padding-right: 2rem;
    
}
.website-infos li .list{
    text-decoration: none;
    padding: 0.8rem;
}
.website-infos li button{
    color: rgb(255, 253, 253);
    background: rgb(231, 69, 5);
    border: 1px solid ;
    width: 6rem;
    height: 2rem;
    
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}
.elements-content{
    padding-bottom: 18rem;
}
/* #######################footer###############" */

.footer-table {
   

    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
   
    
}
.footer-table table{
    width:76rem;
    height:100%;
    margin: 0 28rem;
    border-bottom: 1px solid rgb(255, 254, 254);
    
    padding-bottom: 2rem;
} 
.line tr td,.line tr th{
    padding: .8rem;
    margin: 0 3rem;
}
.line tr th{
    padding-left: -18rem;
}
.footer-table table .list{
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: none;
    
   
}
.footer-table footer{
    
    margin: 0 29rem;
    padding-bottom: 2rem;
}
.footer-table footer p{
   margin-top: .8rem;
    
}
/* #############################Contact################################################ */
.contact-app{
    display:block;
    
    justify-content:center;
    align-items:center;
    background: rgb(255, 254, 254);
}
.contact-header{
    display: block;
    text-align: center;
padding: 3rem;
    

   
}
.contact-header h1{
    color:rgb(146, 62, 118);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}
.contact-header p{
    margin:0 46rem;
    font-size: 1rem;
    width: 31.5rem;
}
.contact-infos{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:2rem .8rem;
    padding: 2rem;

    
}
.contact-info{
    margin:0 1.5rem;
    background:rgb(253, 251, 250);
    border:1px solid rgb(241, 231, 227);
    text-align:center;
    width:16rem;
    height:12rem;
    padding:2rem;
    cursor:pointer;
    box-shadow: 6px 6px 6px 2px rgb(253, 251, 250);
    
}
.contact-info h3{
    color:rgb(146, 62, 118);

}
.contact-info h5{
    color:rgb(231, 69, 5);

}
.people-infos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.people-info{
    display: block;
    width:26rem;
    height:32rem;
    margin-right: 20rem;
}
.people-info h1{
    color:rgb(146, 62, 118);
}
.people{
    padding: 10px;
}
.people input{
    width:26rem;
    height:2.5rem;
    border-radius: 4px;
    border: 1px solid rgb(230, 218, 214);
}
.people-name{
    display: flex;
    width:27.5rem;
    height:2.5rem;
    
}
.people-name input{
    width:13rem;
    height:2rem;
    margin: .2rem .6rem;
    border-radius: 4px;
    border: 1px solid rgb(230, 218, 214);
}
.people select{
    width:26rem;
    height:2.5rem;
    border-radius: 4px;
    border: 1px solid rgb(230, 218, 214);
}
.people textarea{
    width:26rem;
    height:7rem;
    border-radius: 4px;
    border: 1px solid rgb(230, 218, 214);
}
.people button{
    width:26rem;
    height:2rem;
    border-radius: 4px;
    background: rgb(231, 69, 5);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid rgb(230, 218, 214);
}
.table{
        border:none; 
        

}
.table thead tr th,
.table tbody tr td  {
    border-top: 1px solid;

}

.table thead tr th:first-child,
.table tbody tr td:first-child {
    border-right: 1px solid rgba(177, 160, 160, 0.849);

}
.table thead tr th,
.table tbody tr td {
    color:rgb(146, 62, 118);
    padding: 10px;
    
    margin: 3rem 2.5rem;
}
.table .black{
    color: #000;
    font-weight: bold;
}
/* ###################################Pricing################################## */
.pricing-app{
    
    display:block;
   
    
    justify-content:center;
    align-items:center;
    background: rgb(255, 255, 255);
    margin-bottom: -12rem;
}
.pricing{
    display: block;
    

}
.pricing-header{
    display: block;
    text-align: center;
padding: 2rem;

    

   
}
.pricing-header h1{
    color:rgb(146, 62, 118);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}
.pricing-header p{
    margin:0 41rem;
    font-size: 1.2rem;
    width: 31.5rem;
}
.pricing-infos{
    display:flex;
    align-items:center;
    justify-content:center;
    
    

    
}
.pricing-info{
    margin:0 1rem;
    background:rgb(255, 255, 255);
    border:1px solid rgb(241, 231, 227);
    border-top: 2px solid rgb(139, 124, 133);
    text-align:center;
    border-radius: 4px;
    width:17rem;
    height:6.5rem;
    cursor:pointer;
    color:rgb(129, 123, 127);
    
    
}
.pricing-info .list{
    text-decoration: none;
}


.pricing-footer{
   padding: 3.5rem;
    display: flex;
    align-items:center;
    justify-content:center;
    background: rgb(245, 241, 244);
    padding-bottom: -74rem;
    
}
.pricing-footer h2{
    color:rgb(146, 62, 118);
    font-weight: bold;
}
.pricing-footer1{
    padding-right: 16rem;
   
}
.pricing-footer2 button{
    width:12rem;
    height:4rem;
    background: rgb(231, 69, 5);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid rgb(230, 218, 214);
}
/* ######################Cloud##############################"" */
.cloud-app{
    
    display:block;
    width: 100%;
    justify-content:center;
    align-items:center;

    background: rgb(255, 255, 255);
    padding-bottom: 8rem;
}
.cloud{
    display: block;
}
.cloud-header{
    display: block;
    text-align: center;
    height:16rem;
    width: 100%;
    padding-top: 2rem;
margin-bottom:  -3rem;
background:rgb(245, 241, 244);


    

   
}
.cloud-h{
    background: rgb(146, 62, 118);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    width:22rem;
    height: 2rem;
    margin:-3rem 49rem;
    margin-top: 5rem;
    
}
.cloud-header h1{
    color:rgb(146, 62, 118);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.cloud-header p{
    
    margin:0 36rem;
    font-size: .9rem;
    width: 32rem;
}
.cloud-infos{
    display:flex;
    align-items:center;
    justify-content:center;
   
    
    

    
}
/* #########################CCLOUD-SHARED########################### */
.cloud-shared{
    margin: 0 1rem;
    
    background:rgb(253, 251, 250);
    border:1px solid rgb(241, 231, 227);
    
    
    border-radius: 4px;
    width:22rem;
    height:37rem;
    cursor:pointer;
    
    box-shadow: 0px 1px 4px 1px rgb(204, 174, 188);
    
}

.cloud-elements{
    text-align: center;
    
    padding-top: 2rem;
    padding-bottom: 1.5rem;

}

.cloud-elements h1{
   font-size: 1.5rem;
   font-family: Arial, Helvetica, sans-serif;
}
.cloud-elements h5{
    font-size: 1.2rem;
    font-weight: normal;
 }
.cloud-elements button{
    background: rgb(255, 255, 255);
    border: 2px solid  rgb(231, 69, 5);
    color:  rgb(231, 69, 5);
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    width:10rem;
    height:2.5rem;
 }
 .cloud-elements p{
     
text-align: center;
    font-size: .8rem;
   
    
 }

.cloud-elements2{
    padding-top: .6rem;
    border-top: 1px solid  rgb(231, 221, 228);
   
   margin: 1rem 0;
    color: rgb(134, 115, 128);

}
.cloud-elements2 h3{
    padding-left: 1.5rem;
    font-size: 1.1rem;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(66, 64, 64);
   
}
.cloud-elements2 ul{

    display: block;
    list-style: none;
    padding-top: -1.2rem;
    padding-bottom: .5rem;
   
}
.cloud-elements2 ul li{
    margin: .8rem 0;
    align-content: space-around;

   
}
.pricing-view{
    color:  rgb(231, 69, 5);
    text-decoration: none;
    font-weight: bold;
    padding-left: 1.5rem;

}
/* ###################Cloud-Dedicated######################## */

.cloud-dedicated{
    
    display: block;
    background:rgb(253, 251, 250);
    border:1px solid rgb(241, 231, 227);
    
    
    border-radius: 4px;
    width:22rem;
    height:37rem;
    cursor:pointer;
    
   margin: 0 .5rem;

    box-shadow: 0px 1px 4px 1px rgb(204, 174, 188);
    
}
.cloud-dedicated-H{
   
    height:2rem;
    background: rgba(56, 2, 38,.8);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
  
    
    
   
}
.cloud-recommend{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2.2rem;

    
    
    
}

.cloud-recommend h1{
   font-size: 1.5rem;
   font-family: Arial, Helvetica, sans-serif;
}
.cloud-recommend h5{
    font-size: 1.2rem;
    font-weight: normal;
 }
.cloud-recommend button{
    background: rgb(231, 69, 5);
    border: 2px solid  rgb(231, 69, 5);
    color:  rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    width:10rem;
    height:2.5rem;
 }
 .cloud-recommend p{
     
text-align: center;
    font-size: .8rem;
   
    
 }

.cloud-recommend2{
    padding-top: .6rem;
    border-top: 1px solid  rgb(231, 221, 228);
   
   margin: 1rem 0;
    color: rgb(134, 115, 128);

}
.cloud-recommend2 h3{
    padding-left: 1.5rem;
    font-size: 1.1rem;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(66, 64, 64);
   
}
.cloud-recommend2 ul{

    display: block;
    list-style: none;
    padding-top: -1.2rem;
   
}
.cloud-recommend2 ul li{
    margin: .8rem 0;
    align-content: space-around;
   
}
/* ###############Multi-region###################### */
.cloud-multi-Region{
    
    display: block;
    background:rgb(253, 251, 250);
    border:1px solid rgb(241, 231, 227);
    
    
    border-radius: 4px;
    width:22rem;
    height:37rem;
    cursor:pointer;
    
   margin: 0 .5rem;

    box-shadow: 0px 1px 4px 1px rgb(204, 174, 188);
    
}
.cloud-dedicated-H{
   
    height:2rem;
    background: rgba(56, 2, 38,.8);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
  
    
    
   
}
.cloud-Region{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2.2rem;

    
    
    
}

.cloud-Region h1{
   font-size: 1.5rem;
   font-family: Arial, Helvetica, sans-serif;
}
.cloud-Region h5{
    font-size: 1.2rem;
    font-weight: normal;
 }
.cloud-Region button{
    background: rgb(255, 255, 255);
    border: 2px solid   rgb(231, 69, 5);
    color: rgb(231, 69, 5) ;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    width:10rem;
    height:2.5rem;
 }
 .cloud-Region p{
     
text-align: center;
    font-size: .8rem;
   
    
 }

.cloud-Region2{
    padding-top: .6rem;
    border-top: 1px solid  rgb(231, 221, 228);
   
   margin: 1rem 0;
    color: rgb(134, 115, 128);

}
.cloud-Region2 h3{
    padding-left: 1.5rem;
    font-size: 1.1rem;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(66, 64, 64);
   
}
.cloud-Region2 ul{

    display: block;
    list-style: none;
    padding-top: -1.2rem;
   
}
.cloud-Region2 ul li{
    margin: .8rem 0;
    align-content: space-around;
   
}
.pricing-view{
    color:  rgb(231, 69, 5);
    text-decoration: none;
    font-weight: bold;
    padding-left: 1.5rem;
}
/* ###################VIEW COMPARISON##################### */
.select,.about{
   
   text-align: center;
   padding: 5rem;
}
.select label{
    color:rgb(146, 62, 118);
    font-weight: bold;
    border: none;
      
   }
.select select{
    
  border: none;
    
 }
 .about{
     margin: 0 25rem;
    width:62.5rem;
    height:1.5rem;
    padding: 3rem;
     display: flex;
     align-items:center;
     justify-content:center;
     background: rgb(145, 98, 135);
     color:rgb(255, 255, 255);
     
 }
 .info1 h3{
    
     font-weight: bold;
     padding-right: 18.5rem;
 }
 .info1{
     padding-right: 16rem;
    
 }
 .info2 button{
     width:10rem;
     height:2rem;
     background: rgb(231, 69, 5);
     border-radius: 4px;
     color:rgb(255, 255, 255);
     font-weight: bold;
     border: none;
 }
 
/* #######################Tools and Service################################### */

.tool{
    display: block;
}
.tool-header{
    display: block;
    text-align: center;
    padding: 2.5rem;

    

   
}

.tool-header h2{
    color:rgba(39, 3, 26, 0.5);
    font-size: 1.5rem;
    
 
}
.tool-header p{
    margin:0 36rem;
    font-size: .9rem;
    width: 32rem;
}
.tool-infos{
    display:flex;
    align-items:center;
    justify-content:center;
   
    
    

    
}

.tool-shared,.tool-dedicated,.tool-multi-Region{
    margin: 0 1rem;
    
    background:rgb(253, 251, 250);
    border:1px solid rgb(241, 231, 227);
    padding: 2rem;
    
    border-radius: 4px;
    width:12rem;
    height:14rem;
    cursor:pointer;
    
    box-shadow: 0px 1px 4px 1px rgb(204, 174, 188);
    
}
.tool-shared p,.tool-dedicated p,.tool-multi-Region p {
    padding-bottom: 1.5rem;
}




.pricing-view{
    color:  rgb(231, 69, 5);
    text-decoration: none;
    font-weight: bold;
    padding-left: 1.5rem;
}



.cloud-footer{
    display: flex;
    align-items:center;
    justify-content:center;
}
.cloud-foot

.cloud-footer{
    
    display: flex;
    align-items:center;
    justify-content:center;
}
.cloud-footer h4{
    color:rgb(146, 62, 118);
    font-weight: bold;
}
.cloud-footer1{
    padding-right: 16rem;
   
}
.cloud-footer2 button{
    width:12rem;
    height:4rem;
    background: rgb(231, 69, 5);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid rgb(230, 218, 214);
    
}